<div class="container">
    <h1>Welcome to CornHub</h1>
    <p><em>Where Popcorn Meets Movies</em></p>

    <%= image_tag "corn.jpg", width: 200 %>
    <% @movies.each do |movie| %>
        <h2><%= link_to movie.title, movie_show_path(movie) %></h2>
    <% end %>
</div>